<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultAddress" value="http://localhost:49202/CampaignManager/CMService"/>
    <add key="defaultBinding" value="wsHttpBinding"/>
    <add key="domain" value="quattro-apps1"/>
    <add key="username" value="administrator"/>
    <add key="password" value="deltav"/>
    <add key="confirmerUsername" value=""/>
    <add key="confirmerPassword" value=""/>
    <add key="verifierUsername" value=""/>
    <add key="verifierPassword" value=""/>
    <add key="closeTimeout" value="00:01:00"/>
    <add key="openTimeout" value="00:01:00"/>
    <add key="receiveTimeout" value="00:10:00" />
    <add key="sendTimeout" value="00:01:00" />
    <add key="inactivityTimeout" value="1.00:00:00" />
    <add key="userPrincipalName" value="localhost\administrator"/>
  </appSettings>
</configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
